<template>
  <v-layout v-if="clm === 'irep'">
    <div>{{`${snippetStartDelimiter}insertEmailFragments[${min},${max}]${snippetEndDelimiter}`}}</div>
  </v-layout>
  <v-image v-else :src="placeholder" align="center" />
</template>

<script>
  import propTypes from '../propTypes'
  import vImage from '../v-image/index.vue'
  import vLayout from '../v-layout/index.vue'

  export default {
    name: 'v-fragment',
    components: {
      vLayout,
      vImage,
    },
    computed: {
      clm(){
        return this.$root.clm;
      }
    },
    beforeCreate(){
      this.snippetStartDelimiter = '{{'
      this.snippetEndDelimiter = '}}'
    },
    props: {
      placeholder: {
        label: 'Placeholder',
        actualType: propTypes.FILE,
        default: `public/default-fragment.png`
      },
      min: {
        type: Number,
        label: 'Min',
        actualType: propTypes.NUMBER,
        default: 1
      },
      max: {
        type: Number,
        label: 'Max',
        actualType: propTypes.NUMBER,
        default: 1
      }
    }
  }
</script>

<style>

</style>
