body {
  margin: 0;
  padding: 0;
}

span.snippet {
  padding: 2px 5px;
  margin: 0 5px;
  border-radius: 3px;
  background: #007bb9;
  color: #fff;
}

table {
  height: auto !important;
}

.content-wrapper {
  width: 100%;
  max-width: 600px;
}

.edit-mode .content-wrapper {
  width: 600px;
  min-width: 600px;
}