<i18n>
{
	"en": {
		"default_text1": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus est erat. Morbi imperdiet blandit porta. Aliquam volutpat facilisis risus et molestie. Proin vel turpis ut lacus euismod sagittis id lacinia turpis. Donec commodo condimentum justo ut mollis. Nam scelerisque odio non imperdiet porta. Maecenas gravida dolor lectus, ut auctor sem bibendum eu. Vestibulum tincidunt eu libero et molestie.",
		"default_text2": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus est erat. Morbi imperdiet blandit porta. Aliquam volutpat facilisis risus et molestie. Proin vel turpis ut lacus euismod sagittis id lacinia turpis. Donec commodo condimentum justo ut mollis. Nam scelerisque odio non imperdiet porta. Maecenas gravida dolor lectus, ut auctor sem bibendum eu. Vestibulum tincidunt eu libero et molestie.",
    "default_text3": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus est erat. Morbi imperdiet blandit porta. Aliquam volutpat facilisis risus et molestie. Proin vel turpis ut lacus euismod sagittis id lacinia turpis. Donec commodo condimentum justo ut mollis. Nam scelerisque odio non imperdiet porta. Maecenas gravida dolor lectus, ut auctor sem bibendum eu. Vestibulum tincidunt eu libero et molestie."
	}
}
</i18n>

<template>
  <div :class="{'edit-mode': isMasterTemplateEditMode}">  
    <v-layout width="600px" class="content-wrapper">
      <v-layout type="vertical">
        <v-flipm :isFlipped="flipState" @flip='flipped'>
          <div slot="front">
            <v-text :text="$t('front-side')"></v-text>
            <v-text :text="$t('default_text2')"></v-text>
            <v-text :text="$t('default_text2')"></v-text>
          </div>
          <div slot="back">
            <v-text :text="$t('back-side')"></v-text>
            <v-text :text="$t('default_text2')"></v-text>
            <v-text :text="$t('default_text2')"></v-text>
          </div>
        </v-flipm>
      </v-layout>
      <v-text :text="$t('default_text1')"></v-text>
      <v-layout type="horizontal">
        <v-layout>
          <v-image></v-image>
          <v-text :text="$t('default_text2')"></v-text>
        </v-layout>
        <v-layout>
          <v-image></v-image>
          <v-text :text="$t('default_text3')"></v-text>
        </v-layout>
      </v-layout>
      <v-layout type="horizontal">
          <button class="open-button" @click="openPopup">Pop-up</button>
          <v-popup :closeButtonImage="imgPopup" :visible="popup" @closep="closePopup">
            <v-text :text="$t('default_text2')"></v-text>
            <v-image></v-image>
            <v-text :text="$t('default_text2')"></v-text>
          </v-popup>
      </v-layout>
    </v-layout>
  </div>
</template>

<script>
//Layer components
import vLayout from "./common/components/v-layout/index.vue";
import vFlipm from "./common/components/v-flipm/index.vue";
import vButton from "./common/components/v-button/index.vue";
import vImage from "./common/components/v-image/index.vue";
import vText from "./common/components/v-text/index.vue";
import vHeader from "./common/components/v-header/index.vue";
import vFragment from "./common/components/v-fragment/index.vue";
import vPopup from "./common/components/v-popup/index.vue";

export default {
  name: "v-app",
  components: {
    vLayout,
    vImage,
    vText,
    vHeader,
    vFragment,
    vButton,
    vFlipm,
    vPopup
  },
  data() {
    return {
      isEditMode: true,
      isMasterTemplateEditMode: true,
      popup: false,
      imgPopup: {
        src: "public/close.png",
        position: "center",
        size: "cover"
      },
        flipState: false    
    };
  },
  methods: {
    closePopup() {
      this.popup = false;
    },
    openPopup() {
      this.popup = true;
    },
    flipped() {
      this.flipState = !this.flipState;
    }
  }
};
</script>

<style>
@import "common/styles/main.css";

.open-button{
  background: #037eff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
}

</style>


