<template>
  <div :class="captionPosition">

    <v-link-wrapper class="v-link-wrapper" :link="link">

      <template v-if="captionPosition === 'top'">
        <v-text class="v-text" nested :text="captionText"></v-text>
        <v-image class="v-image" nested :src="imageSrc" :alt="imageAlt" align="center"></v-image>
      </template>

      <template v-if="captionPosition === 'bottom'">
        <v-image class="v-image" nested :src="imageSrc" :alt="imageAlt" align="center"></v-image>
        <v-text class="v-text" nested :text="captionText"></v-text>
      </template>

      <template v-if="captionPosition === 'left'">
        <v-text class="v-text" nested :text="captionText"></v-text>
        <v-image class="v-image" nested :src="imageSrc" :alt="imageAlt" align="center"></v-image>
      </template>

      <template v-if="captionPosition === 'right'">
        <v-image class="v-image" nested :src="imageSrc" :alt="imageAlt" align="center"></v-image>
        <v-text class="v-text" nested :text="captionText"></v-text>
      </template>

    </v-link-wrapper>

  </div>
</template>

<script>
  import propTypes from '../propTypes'
  import constants from '../constants.json'
  import reviveProperty from '../revive-text-property'

  import vImage from '../v-image/index.vue'
  import vText from '../v-text/index.vue'
  import vLinkWrapper from '../v-link-wrapper.vue'

  export default {
    name: 'v-card',
    components: {
      vImage,
      vText,
      vLinkWrapper
    },
    mounted: function () {
      reviveProperty.call(this, 'captionText')
    },
    props: {
      imageSrc: {
        type: String,
        label: 'Image',
        actualType: propTypes.FILE,
        default: constants.defaultValues.imageSrc
      },
      imageAlt: {
        type: String,
        label: 'Image alternative text',
        actualType: propTypes.STRING,
        default: 'Image'
      },
      captionText: {
        type: String,
        label: 'Caption text',
        actualType: propTypes.TEXT,
        default: 'Image card caption'
      },
      captionPosition: {
        type: String,
        label: 'Caption position',
        actualType: propTypes.SELECT,
        options: [
          { value: 'left', label: 'Left' },
          { value: 'right', label: 'Right' },
          { value: 'top', label: 'Top' },
          { value: 'bottom', label: 'Bottom' }
        ],
        default: 'bottom'
      },
      link: {
        type: String,
        label: 'Link',
        actualType: propTypes.URL,
        default: ''
      }
    }
  }
</script>

<style scoped>
  .v-link-wrapper {
    display: inline-block;
    border-radius: 5px;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 3px solid #dcdcdc;
    background-color: #ffffff;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  .v-text {
    text-align: center;
    font-size: 16px;
    padding: 0 10px;
  }

  .left, .right {
    white-space: nowrap;
  }

  .left *, .right * {
    white-space: normal;
  }

  .left .v-text,
  .right .v-text {
    display: inline-block;
    width: 46%;
    padding: 0 1.5%;
  }

  .left .v-image,
  .right .v-image {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  .left .v-image {
    margin-left: -4px;
  }

  .right .v-image {
    margin-right: -4px;
  }
</style>
