<template>
    <div :style="{ textAlign: align, background }">
        <img :src="src" :alt="alt" :width="width" :height="height" :style="[defaultStyles, css]" />
    <div>
 </template>

<script>
  import propTypes from '../propTypes'
  import constants from '../constants.json'
  const defaultStyles = {
    'width': 'auto',
    'height': 'auto',
    'max-width': '100%',
    'margin-bottom': '-4px'
  }

  export default {
    name: 'v-custom-foto',

    beforeCreate(){
      this.defaultStyles = defaultStyles;

       try {
          let emplName = window.parent.context.parameters.employee_name;

          if(emplName.length !== 0) {
            emplName = emplName.replace(/([,\s])/g, '');
            emplName = emplName.toLowerCase();
             this.src = 'public/'+ emplName + '.jpg';
          }
        }
        catch(er){
            this.src = 'public/default.png';
        }

    },
    props: {
     src: {
             type: String,
             label: 'Image',
             actualType: propTypes.FILE,
             default: constants.defaultValues.imageSrc
           },
           alt: {
             type: String,
             label: 'Alternative text',
             actualType: propTypes.STRING,
             default: ''
           },
           link: {
             type: String,
             label: 'Link',
             actualType: propTypes.URL,
             default: ''
           },
           width: {
             type: String,
             default: 'auto'
           },
           height: {
             type: String,
             default: 'auto'
           },
           background: {
             type: String,
             label: 'Background',
             actualType: propTypes.COLOR,
             default: 'rgba(204, 204, 204, 0.28)'
           },
      css: {
        type: Object,
        default: () => ({
          'width': 'auto',
          'height': 'auto',
          'max-width': '100%',
          'margin-bottom': '-4px'
        }),
        sealed: true
      }
    }
  }
</script>
