<template>
  <div>
    <a v-if="link" :href="link" target="_blank">
      <slot></slot>
    </a>
    <div v-else>
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      link: {
        type: String
      },
      nested: {
        default: true
      }
    }
  }
</script>