<template>
  <v-text nested :style="[defaultStyles, css]" :text="text" textAlign="center"></v-text>
</template>

<script>
  import propTypes from '../propTypes'
  import reviveProperty from '../revive-text-property'
  import vText from '../v-text/index.vue'
  const defaultStyles = {
    margin: '10px 0',
    padding: '5px'
  }

  export default {
    name: 'v-footer',
    components: {
      vText
    },
    mounted: function () {
      reviveProperty.call(this, 'text')
    },
    beforeCreate(){
      this.defaultStyles = defaultStyles
    },
    props: {
      text: {
        type: String,
        label: 'Text',
        actualType: propTypes.TEXT,
        default: `Copyright © ${new Date().getFullYear()} Company Name, All rights reserved.<br><br>
                  <b>Our mailing address is:</b><br>
                  Address: Lorem ipsum, dolor sit amet, 111111<br>
                  Landline: +1 111 111 111<br><br>
                  Email: <a href="mailto:info@company.com">info@company.com</a><br>
                  Web: <a target="_blank" href="http://company.com">company.com</a>`
      },
      css: {
        type: Object,
        default: () => ({
          margin: '10px 0',
          padding: '5px'
        }),
        sealed: true
      }
    }
  }
</script>

<style>
  p > p{
    margin: 0;
  }
</style>
