<template>
  <div v-show="visible" class="layout" :id="id">
    <div  class="popup-content">
      <slot></slot>
      <div v-show="showCloseButton" class="popup-close-button" @click="closePopup" :style="{backgroundImage: 'url(' + closeButtonImage.src + ')', backgroundPosition: closeButtonImage.position, backgroundSize: closeButtonImage.size}"></div>
    </div>
  </div> 
</template>

<script>
import propTypes from "../propTypes";
import constants from "../constants.json";

export default {
  name: "v-popup",
  components: {},
  data: function() {
    return {};
  },
  props: {
    id: {
      type: String,
      label: "popupId",
      actualType: propTypes.TEXT,
      default: ""
    },
    title: {
      type: String,
      label: "title",
      actualType: propTypes.TEXT,
      default: ""
    },
    visible: {
      type: Boolean,
      label: "visible",
      actualType: propTypes.BOOLEAN,
      default: true
    },
    showCloseButton: {
      type: Boolean,
      label: "showCloseButton",
      actualType: propTypes.BOOLEAN,
      default: true
    },
    showOnSlideenter: {
      type: Boolean,
      label: "showOnSlideenter",
      actualType: propTypes.BOOLEAN,
      default: false
    },
    closeButtonImage: {
      type: Object,
      label: "Close Button Image",
      actualType: propTypes.FILE,
      default: () => ({
        src: constants.defaultValues.imageSrc,
        position: "center",
        size: "cover"
      })
    }
  },
  methods: {
    closePopup() {
      this.$emit("closep", this.id);
    }
  },
  mounted: function() {},
  beforeDestroy: function() {}
};
</script>

<style scoped>
.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: .5s; 
}

.popup-content {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -40%, 0);
  padding: 30px 35px 20px;
  background: #fff;
  margin: auto;
  box-sizing: border-box;
  border-radius: 30px;
  min-height: 200px;
  max-width: 560px;
}

.scroll-wrapper {
  height: 100%;
  max-height: 435px;
  overflow: hidden;
}

.popup-close-button {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  background-size: 100% 100%;
}
</style>
