<template>
  <h1 v-html="text"></h1>
</template>

<script>
  import propTypes from '../propTypes'
  import reviveProperty from '../revive-text-property'

  export default {
    name: 'v-header',
    mounted: function () {
      reviveProperty.call(this, 'text')
    },
    props: {
      text: {
        type: String,
        label: 'Text',
        actualType: propTypes.TEXT,
        default: '<b>Lorem ipsum dolor sit amet</b>'
      }
    }
  }
</script>

<style scoped>
  h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
  }
  h1 > p{
    margin: 0;
  }
</style>
