<template>
  <div class="wrapper">

    <v-link-wrapper :link="link" class="v-link-wrapper">
      <v-image class="v-image" nested :src="imageSrc" :alt="imageAlt"></v-image>
      <v-text class="v-text" nested :text="text"></v-text>
    </v-link-wrapper>

  </div>
</template>

<script>
  import propTypes from '../propTypes'
  import constants from '../constants.json'
  import reviveProperty from '../revive-text-property'

  import vImage from '../v-image/index.vue'
  import vText from '../v-text/index.vue'
  import vLinkWrapper from '../v-link-wrapper.vue'

  export default {
    name: 'v-image-with-text',
    components: {
      vImage,
      vText,
      vLinkWrapper
    },
    mounted: function () {
      reviveProperty.call(this, 'text')
    },
    props: {
      imageSrc: {
        type: String,
        label: 'Image',
        actualType: propTypes.FILE,
        default: constants.defaultValues.imageSrc
      },
      imageAlt: {
        type: String,
        label: 'Image alternative text',
        actualType: propTypes.STRING,
        default: 'Image'
      },
      text: {
        type: String,
        label: 'Text',
        actualType: propTypes.TEXT,
        default: `<p style="text-align: center">${constants.defaultValues.text}</p>`
      },
      link: {
        type: String,
        label: 'Link',
        actualType: propTypes.URL,
        default: ''
      }
    }
  }

</script>

<style scoped>
  .wrapper {
    text-align: center;
  }

  .v-link-wrapper >>> a {
    text-decoration: none;
    color: inherit;
    width: 100%;
  }

  .v-text {
     margin: 0 0 10px;
  }
</style>