<template>
  <div>
    <v-layout nested type="horizontal">
      <v-image nested :src="imageSrc1" :alt="imageAlt1" :link="imageLink1" />
      <v-image nested :src="imageSrc2" :alt="imageAlt2" :link="imageLink2" />
    </v-layout>
    <v-layout nested type="horizontal">
      <v-image nested :src="imageSrc3" :alt="imageAlt3" :link="imageLink3" />
      <v-image nested :src="imageSrc4" :alt="imageAlt4" :link="imageLink4" />
    </v-layout>
  </div>
</template>

<script>
  import propTypes from '../propTypes'
  import constants from '../constants.json'

  import vLayout from '../v-layout/index.vue'
  import vImage from '../v-image/index.vue'

  export default {
    name: 'v-image-group',
    components: {
      vLayout,
      vImage
    },
    props: {
      imageSrc1: {
        type: String,
        label: 'Image 1',
        actualType: propTypes.FILE,
        default: constants.defaultValues.imageSrc
      },
      imageAlt1: {
        type: String,
        label: 'Alternative text',
        actualType: propTypes.STRING,
        default: 'Image'
      },
      imageLink1: {
        type: String,
        label: 'Link',
        actualType: propTypes.URL,
        default: ''
      },
      imageSrc2: {
        type: String,
        label: 'Image 2',
        actualType: propTypes.FILE,
        default: constants.defaultValues.imageSrc
      },
      imageAlt2: {
        type: String,
        label: 'Alternative text',
        actualType: propTypes.STRING,
        default: 'Image'
      },
      imageLink2: {
        type: String,
        label: 'Link',
        actualType: propTypes.URL,
        default: ''
      },
      imageSrc3: {
        type: String,
        label: 'Image 3',
        actualType: propTypes.FILE,
        default: constants.defaultValues.imageSrc
      },
      imageAlt3: {
        type: String,
        label: 'Alternative text',
        actualType: propTypes.STRING,
        default: 'Image'
      },
      imageLink3: {
        type: String,
        label: 'Link',
        actualType: propTypes.URL,
        default: ''
      },
      imageSrc4: {
        type: String,
        label: 'Image 4',
        actualType: propTypes.FILE,
        default: constants.defaultValues.imageSrc
      },
      imageAlt4: {
        type: String,
        label: 'Alternative text',
        actualType: propTypes.STRING,
        default: 'Image'
      },
      imageLink4: {
        type: String,
        label: 'Link',
        actualType: propTypes.URL,
        default: ''
      }
    }
  }
</script>
