<template>
  <div :style="{ textAlign: align, width}" class="v-button" style="mso-hide:all;">
    <a v-on:click="onClick" :href="link || null" target="_blank" v-html="text"></a>
  </div>
</template>

<script>
  import propTypes from '../propTypes'
  import reviveProperty from '../revive-text-property'
import { log } from 'util';

  export default {
    name: 'v-button',
    mounted: function () {
      reviveProperty.call(this, 'text')
    },
    props: {
      text: {
        type: String,
        label: 'Button text',
        actualType: propTypes.TEXT,
        default: 'Button'
      },
      link: {
        type: String,
        label: 'Link',
        actualType: propTypes.URL,
        default: 'https://viseven.com/'
      },
      width: {
        type: String,
        label: 'Width',
        actualType: propTypes.SELECT,
        options: [
          { value: 'auto', label: 'Fit to text' },
          { value: '100%', label: 'Full width' }
        ],
        default: 'auto'
      },
      align: {
        type: String,
        label: 'Align',
        actualType: propTypes.SELECT,
        options: [
          { value: 'left', label: 'Left' },
          { value: 'center', label: 'Center' },
          { value: 'right', label: 'Right' }
        ],
        default: 'center'
      }
    },
    methods: {
      onClick() {
        this.$emit('click')
      }
    }
  }

</script>

<style scoped>
  div {
    display: inline-block;
    max-width: 100%;
    line-height: 24px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    overflow: hidden;
    background-color: #2baadf;
    color: #ffffff;
  }

  a {
    display: block;
    padding: 12px 20px;
    color: inherit;
    text-decoration: none;
  }

</style>
