<template>
    <div id="app" class="flip-container" v-bind:class="{ 'show-side' : isFlipped }">
        <div class="flip-button" nested  @click="flip(card)"></div>
        <div class="flip-content front">
            <div class="flip-header" :style="{ backgroundheaderback }">
                <v-text class="v-text" nested :text="headerFront"></v-text>
                <v-image class="v-image flip-button" nested :src="imageSrcButtonFlip" :alt="imageAltButtonFlip" :width="width" :height="height" align="center"></v-image>
            </div>
            <div>
                <div class="image-container" :style="{ textAlign: align }">
                    <v-image class="v-image flip-image-content" nested :src="imageSrcFront" :alt="imageAltFront" align="center"></v-image>
                </div>
                <div class="text-container" :style="[defaultStyles, css]">
                    <v-text class="v-text" nested :text="contentFront"></v-text>
                </div>
            </div>
        </div>
        <div class="flip-content back">
            <div class="flip-header">
                <v-text class="v-text" nested :text="headerBack"></v-text>
                <v-image class="v-image flip-button" nested :src="imageSrcButtonFlip" :alt="imageAltButtonFlip" :width="width" :height="height" align="center"></v-image>
            </div>
            <div>
                <div class="image-container" :style="{ textAlign: align}">
                    <v-image class="v-image flip-image-content" nested :src="imageSrcBack" :alt="imageAltBack" :width="width" :height="height" align="center"></v-image>
                </div>
                <div class="text-container" :style="[defaultStyles, css]">
                    <v-text class="v-text" nested :text="contentBack"></v-text>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import propTypes from '../propTypes'
    import constants from '../constants.json'
    import reviveProperty from '../revive-text-property'

    import vImage from '../v-image/index.vue'
    import vText from '../v-text/index.vue'


    const backgroundheaderback = {
        background: '#0089cf'
    };

    export default {
        name: 'v-flip',
        data() {
            return {
                isFlipped: false,
            }
        },
        components: {
            vImage,
            vText,
        },
        mounted: function () {
            reviveProperty.call(this, 'headerFront');
            reviveProperty.call(this, 'headerBack');
            reviveProperty.call(this, 'contentFront');
            reviveProperty.call(this, 'contentBack');
        },
        beforeCreate(){
            this.defaultStyles = defaultStyles;
            this.backgroundheaderback = backgroundheaderback;
        },
        props: {
            backgroundheader: {
                type: String,
                label: 'Background header back',
                actualType: propTypes.COLOR,
                default: '#0089cf'
            },
            headerFront: {
                type: String,
                label: 'Header front text',
                actualType: propTypes.TEXT,
                default: "<b>Front Card Header</b>"
            },
            imageSrcButtonFlip: {
                type: String,
                label: 'Image flip button',
                actualType: propTypes.FILE,
                default: "public/button-flip.png"
            },
            imageAltButtonFlip: {
                type: String,
                label: 'Image alternative text',
                actualType: propTypes.STRING,
                default: 'Image button flip'
            },
            imageSrcFront: {
                type: String,
                label: 'Image front',
                actualType: propTypes.FILE,
                default: "public/default-image-front.png"
            },
            imageAltFront: {
                type: String,
                label: 'Image front alternative text',
                actualType: propTypes.STRING,
                default: 'Image front'
            },
            contentFront: {
                type: String,
                label: 'Content front text',
                actualType: propTypes.TEXT,
                default: "<span><b>Paragraph Title</b></span><br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est "
            },
            headerBack: {
                type: String,
                label: 'Header back text',
                actualType: propTypes.TEXT,
                default: "<b>Back Card Header</b>"
            },
            imageSrcBack: {
                type: String,
                label: 'Image back',
                actualType: propTypes.FILE,
                default: "public/default-image-back.png"
            },
            imageAltBack: {
                type: String,
                label: 'Image back alternative text',
                actualType: propTypes.STRING,
                default: 'Image back'
            },
            contentBack: {
                type: String,
                label: 'Content back text',
                actualType: propTypes.TEXT,
                default: "<span><b>Paragraph Title</b></span><br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br><br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est "
            },
            width: {
                type: String,
                label: 'Width image',
                default: 'auto'
            },
            height: {
                type: String,
                label: 'Height image',
                default: 'auto'
            },
            css: {
                type: Object,
                default: () => ({
                    margin: '0',
                    padding: '10px'
                }),
                sealed: true
            },
            align: {
                type: String,
                label: 'Align',
                actualType: propTypes.SELECT,
                options: [
                    { value: 'left', label: 'Left' },
                    { value: 'center', label: 'Center' },
                    { value: 'right', label: 'Right' }
                ],
                default: 'center'
            }
        },
        methods: {
            flip: function (card) {
                this.isFlipped = !this.isFlipped;
            }
        }
    }

</script>

<style scoped>
    .flip-container{
        width: 593px;
        height: 388px;
        border-width: 1.3px;
        border-color: rgb(238, 238, 238);
        border-style: solid;
        border-radius: 13px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        position: relative;
        -webkit-transition: ease-in 300ms;
        transition: ease-in 300ms;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .flip-content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -webkit-transition: ease-in 300ms;
        transition: ease-in 300ms;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        height: 100%;
        width: 100%;
    }
    .front {
        z-index: 2;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    .show-side .front{
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    .back {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
        line-height: 1;
    }
    .show-side .back{
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    .flip-header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 70px;
        z-index: 200;
    }
    .flip-header p {
        font: 18px "Open Sans";
        color: rgb(255, 255, 255);
        line-height: 1;
        text-align: left;
        position: absolute;
        left: 28px;
        top: 25px;
        display: block;
        margin: 0;
    }
    .flip-button {
        display: block;
        width: 26px;
        height: 36px;
        position: absolute;
        left: 520px;
        top: 15px;
        border: none;
        outline: none;
        z-index: 3;
    }
    .image-container {
        position: absolute;
        left: 0;
        top: 69px;
        width: 297px;
        height: 322px;
    }
    img {
        width: auto;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
    .text-container {
        font: 18px "Open Sans";
        color: rgb(69, 75, 80);
        text-align: left;
        position: absolute;
        left: 297px;
        top: 69px;
    }
</style>
