<template>
  <div :style="{ textAlign: align, backgroundColor: (isDefaultImage && '#CCCCCC') }">
    <v-link-wrapper :link="link">
      <img :src="src" :alt="alt" />
    </v-link-wrapper>
  </div>
</template>

<script>
  import propTypes from '../propTypes'
  import constants from '../constants.json'
  import vLinkWrapper from '../v-link-wrapper.vue'

  export default {
    name: 'v-image',
    components: {
      vLinkWrapper
    },
    computed:{
      isDefaultImage(){
        return this.src === constants.defaultValues.imageSrc;
      }
    },
    props: {
      src: {
        type: String,
        label: 'Image',
        actualType: propTypes.FILE,
        default: constants.defaultValues.imageSrc
      },
      alt: {
        type: String,
        label: 'Alternative text',
        actualType: propTypes.STRING,
        default: 'Image'
      },
      link: {
        type: String,
        label: 'Link',
        actualType: propTypes.URL,
        default: ''
      },
      align: {
        type: String,
        label: 'Align',
        actualType: propTypes.SELECT,
        options: [
          { value: 'left', label: 'Left' },
          { value: 'center', label: 'Center' },
          { value: 'right', label: 'Right' }
        ],
        default: 'center'
      },
    }
  }
</script>

<style scoped>
  div {
    overflow: hidden;
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
</style>
