<template>
  <div class="flipper">
    <div :class="[ {'flip-horizontal': fh, 'flip-vertical': fv}, 'side','front-side']">
      <div v-show="showFlipButton" class="flip-button-front" @click="fliped">
        <v-image :src="frontFlipButtonImage"></v-image>
      </div>
      <slot name="front"></slot>
    </div>
    <div :class="[ {'horizontal': backHorizontal, 'vertical': backVertical, 'flip-horizontal': fh, 'flip-vertical': fv}, 'side','back-side']">
      <div v-show="showFlipButton" class="flip-button-back" @click="fliped">
        <v-image :src="backFlipButtonImage"></v-image>
      </div>
      <slot name="back"></slot>
    </div>
  </div>
</template>

<script>
import propTypes from "../propTypes";
import constants from "../constants.json";

import vImage from "../v-image/index.vue";
export default {
  components: {
    vImage
  },
  props: {
    isFlipped: {
      type: Boolean,
      label: "isFlipped",
      actualType: propTypes.BOOLEAN,
      default: false
    },
    type: {
      type: String,
      label: "type",
      actualType: propTypes.SELECT,
      options: [
        { value: "horizontal", label: "horizontal" },
        { value: "vertical", label: "vertical" }
      ],
      default: "horizontal",
      validator: function(value) {
        switch (value) {
          case "horizontal":
            return true;
            break;
          case "vertical":
            return true;
            break;
        }
        return false;
      }
    },
    showFlipButton: {
      type: Boolean,
      label: "showFlipButton",
      actualType: propTypes.BOOLEAN,
      default: true
    },
    on: {
      type: String,
      label: "on",
      actualType: propTypes.TEXT,
      default: ""
    },
    onGlobal: {
      type: String,
      label: "onGlobal",
      actualType: propTypes.TEXT,
      default: ""
    },
    frontFlipButtonImage: {
      type: String,
      label: "Image flip button",
      actualType: propTypes.FILE,
      default: constants.defaultValues.imageSrc
    },
    backFlipButtonImage: {
      type: String,
      label: "Image flip button",
      actualType: propTypes.FILE,
      default: constants.defaultValues.imageSrc
    }
  },
  data() {
    var backHorizontal;
    var backVertical;
    var fh;
    var fv;
    return {
      backHorizontal: false,
      backVertical: false,
      fh: false,
      fv: false
    };
  },
  methods: {
    fliped() {
      this.$emit("flip");
    }
  },
  mounted() {
    switch (this.type) {
      case "horizontal":
        this.$data.fh = this.isFlipped;
        this.backHorizontal = true;
        this.backVertical = false;
        break;
      case "vertical":
        this.$data.fv = this.isFlipped;
        this.backHorizontal = false;
        this.backVertical = true;
        break;
    }
  },
  updated() {
    switch (this.type) {
      case "horizontal":
        this.fh = this.isFlipped;
        this.backHorizontal = true;
        this.backVertical = false;
        break;
      case "vertical":
        this.fv = this.isFlipped;
        this.backHorizontal = false;
        this.backVertical = true;
        break;
    }
  }
};
</script>

<style scoped>
.side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: ease-in 300ms;
  transition: ease-in 300ms;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: auto;
  width: 100%;
  padding: 20px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-width: 1.3px;
  border-color: rgb(238, 238, 238);
  border-style: solid;
  box-sizing: border-box;
}
.flipper {
  perspective: 1000px;
  width: 100%;
  min-height: 330px;
  border-radius: 13px;
  overflow: hidden;
  position: relative;
  -webkit-transition: ease-in 300ms;
  transition: ease-in 300ms;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.front-side,
.back-side {
  backface-visibility: hidden;
  transition: all 1s;
}
.back-side.horizontal {
  transform: rotateY(180deg);
}
.back-side.vertical {
  transform: rotateX(180deg);
}
.flip-button-front,
.flip-button-back {
  display: block;
  width: 26px;
  height: 36px;
  position: absolute;
  right: 30px;
  top: 15px;
  border: none;
  outline: none;
  z-index: 3;
  right: 10px;
  top: 10px;
}
.flip-button-front img,
.flip-button-back img {
  width: 100%;
  height: 100%;
}
.flip-horizontal.front-side {
  transform: rotateY(180deg);
}
.flip-horizontal.back-side {
  transform: rotateY(360deg);
}
.flip-vertical.front-side {
  transform: rotateX(180deg);
}
.flip-vertical.back-side {
  transform: rotateX(360deg);
}
</style>