<template>
  <p v-html="text"></p>
</template>

<script>
  import propTypes from '../propTypes'
  import constants from '../constants.json'
  import reviveProperty from '../revive-text-property'
  const defaultStyles = {
    margin: '10px 0',
    padding: '5px'
  }

  export default {
    name: 'v-text',
    mounted: function () {
      reviveProperty.call(this, 'text')
    },
    beforeCreate(){
      this.defaultStyles = defaultStyles
    },
    props: {
      text: {
        type: String,
        label: 'Text',
        actualType: propTypes.TEXT,
        default: constants.defaultValues.text
      }
    }
  }
</script>

<style scoped>
  p {
    font-family: "Open Sans", sans-serif;
  }
</style>
